#app {
  text-align: center;
}

body {
  overflow: overlay;
}

.map {
  height: 300px;
  width: 100%;
}

/* width */
*::-webkit-scrollbar {
  width: 0.5rem;
  position: absolute;
}

/* Track */
*::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10000px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
